@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");


* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  user-select: none;
  outline: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --padding: 20px;

  --mainBG: linear-gradient(103deg, #000000 -14.54%, #151124 99.76%);
}

/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


p {
  color: rgba(255, 255, 255, 0.745);
  font-weight: 200;
}

ul {
  list-style-type: none;
}

body {
  width: 100%;
  height: 100vh;
  background: var(--mainBG);
  overflow: hidden;
  backdrop-filter: blur(40px);
}

#root {
  width: 100%;
  height: 100%;
  background: transparent;
  overflow: hidden;
}

/* header starts */

#header {
  width: 100%;
  max-height: 45px;
  gap: 15px;
  display: flex;
  justify-content: space-between;
  padding: 0 var(--padding);
  margin-top: 10px;
  overflow: hidden;
  padding-left: 0;
}

#header .logo {
  display: none;
}


@media screen and (max-width: 480px) {
  #header {
    flex-wrap: wrap;
    max-height: fit-content;
    gap: 5px;
    align-items: center;
    padding: 0 var(--padding);
  }

  #header .logo {
    display: block;
  }
}

#header>div {
  margin: 10px 0;
}

/* controls */

#sidebar #controls {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.129);
  padding: 10px;
  border-radius: 5px;
  height: 45px;
}

#sidebar #controls #left,
#sidebar #controls #right,
#sidebar #controls #reload,
#sidebar #controls #hamburger {
  height: 24px;
  cursor: pointer;
}

#sidebar #controls div#hamburger {
  display: none;
}

@media (width<450px) {
  #sidebar #controls div#hamburger {
    display: flex;
    font-size: 25px;
  }
}

#sidebar #controls #reload {
  height: 19px;
}


#sidebar #controls #left img,
#sidebar #controls #right img,
#sidebar #controls #reload img,
#header #paths #path #pth img {
  height: 100%;
  filter: invert(1);
  opacity: 50%;
  transition: 500ms;
  aspect-ratio: 1/1;
}

#sidebar #controls #left img:hover,
#sidebar #controls #right img:hover,
#sidebar #controls #reload img:hover,
#header #paths #path #pth img:hover {
  opacity: 100%;
}

#header #actions {
  /* border: 1px solid rgba(255, 255, 255, 0.281); */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
  border-radius: 5px;
  background: #b3a9eb3e;
  margin: 0;
  max-height: 45px;
}

#header #actions .action {
  display: flex;
  justify-content: center;
  align-items: center;
}

#header #actions .action img {
  width: 22px;
  filter: invert(2);
  opacity: 60%;
  transition: 500ms;
}

#header #actions .action img:hover {
  opacity: 100%;
}

/* navigator and search bar */

#header #navigator {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 9px;
  background: rgba(255, 255, 255, 0.126);
  border-radius: 5px;
  margin: 0;
}

#header #navigator #path,
#header #navigator #pathInput,
#header #searchBar {
  width: 100%;
  border-radius: 5px;

  display: none;
  overflow: hidden;
  align-items: center;
  min-height: 100%;
  /* gap: 10px; */
  color: rgba(255, 255, 255, 0.64);
  font-weight: 400;
  font-size: 14px;
}

#header #navigator #path {
  overflow-y: hidden;
  overflow-x: scroll;
  max-height: 45px;
}

#header #navigator #path::-webkit-scrollbar {
  display: none;
}

#header #navigator #path img {
  height: 10px;
  filter: invert(1);
}

#header #navigator #path span {
  padding: 2px 7px;
  border-radius: 5px;
}

#header #navigator #path span:hover {
  background: rgba(255, 255, 255, 0.126);
}

#header #navigator #path.active,
#header #navigator #pathInput.active {
  display: flex;
}

#header #navigator #pathInput input,
#header #searchBar input {
  width: 100%;
  height: 100%;
  background: transparent;
  color: white;
}

#header #navigator #pathInput input::placeholder,
#header #searchBar input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

#header #searchBar {
  display: flex;
  max-width: 300px;
  padding: 12.5px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.281);
  margin: 0;
}

/* @media screen and (max-width: 950px) {
  #header #navigator #path,
  #header #navigator #pathInput,
  #header #searchBar {
    height: 35px;
  }
} */

/* @media screen and (max-width: 800px) {
  #header #searchBar {
    display: none;
  }

  #header #navigator {
    width: 75%;
  }
} */

/* @media screen and (max-width: 768px) {
  #header #navigator #path,
  #header #navigator #pathInput,
  #header #searchBar {
    height: 35px;
  }
}

@media screen and (max-width: 650px) {
  #header #controls div {
    display: none;
  }

  #header #controls div#hamburger {
    display: flex;
    font-size: 25px;
  }

  #navigator {
    width: 80;
  }
}*/

@media screen and (max-width: 480px) {



  #sidebar #controls .logout-btn:after,
  #sidebar #controls .login-btn::after {
    content: "logout";
    padding-left: 10px;
    font-size: 14px;
  }

  #sidebar #controls .logout-btn,
  #sidebar #controls .login-btn {
    background: rgba(255, 0, 0, 0.189);
    padding: 0 10px;
    border-radius: 7px;
  }

  #sidebar #controls .login-btn::after {
    content: "Admin";
  }

  #sidebar #controls .login-btn {
    color: white;
    background: rgba(255, 255, 255, 0.242);
  }

  #header .logo {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  #header .logo i {
    font-size: 25px;
    color: white;
  }

  #header .logo b {
    color: white;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.3px;
  }

  #header #navigator {
    background: none;
    padding-left: 0;
    border: 1px solid rgba(128, 128, 128, 0.174);
    border-left: 0;
    border-right: 0;
    margin-top: 10px;
    border-radius: 0;
  }

  #header #navigator #path span:first-child {
    background: rgba(128, 128, 128, 0.362);
    margin-right: 5px;
  }

  #header #navigator #path span:first-child:before {
    content: "Drive : ";
  }

  #header #navigator #path {
    font-size: 13px;
  }

  #header #searchBar {
    width: 100%;
    min-width: 100%;
  }

  /* #header #navigator {
    display: none;
  } */

  /* #header #controls div {
    display: none;
  } */


}

/* header ends */

/* file manager starts */

#fileManager {
  height: calc(100vh - 100px);
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
  /* padding: 0 var(--padding); */
  color: white;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  #fileManager {
    height: calc(100vh - 50px);
  }
}

@media screen and (max-width: 480px) {
  #fileManager {
    height: calc(100vh - 40px);
  }

  li[heading] h3 {
    display: none;
  }
}

/* sidebar starts */

#sidebar {
  width: 230px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 20px;
  padding-top: 0;
  transition: 0.5s;
  margin-top: 10px;
}

#close-sidebar {
  display: none;
}

/* #sidebar .sub-sidebar{
  background: yellow;
} */

#sidebar .sub-sidebar,
#sidebar .sub-sidebar ul {
  width: 100%;
}

#sidebar .sub-sidebar ul li.drivername {
  display: block;
}

#sidebar .sub-sidebar ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#sidebar .sub-sidebar ul li {
  display: flex;
  gap: 10px;
  width: 100%;
  cursor: pointer;
  padding: 5px var(--padding);
  padding: 5px 10px;
}

#sidebar .sub-sidebar ul li[clickAble] {
  background: rgba(255, 255, 255, 0.062);
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 5px;
  padding: 12px 10px;
}

#sidebar .sub-sidebar ul li[heading],
#sidebar .sub-sidebar ul li[heading]:hover {
  cursor: default;
  background: transparent;
  padding: 0;
}

#sidebar .sub-sidebar ul li[line] hr {
  width: 100%;
  border: 0.001px solid rgba(255, 255, 255, 0.212);
}

#sidebar .sub-sidebar ul li.active {
  background: #b3a9eb26;
  border-left: 3px solid #b3a9eb59;
}

#sidebar .sub-sidebar ul li:hover {
  background: #b3a9eb26;
}

#sidebar .sub-sidebar ul li img {
  width: 20px;
  aspect-ratio: 1/1;
}

#sidebar .sub-sidebar ul li p {
  font-size: 13px;
  line-height: 16px;
  font-weight: 200;
}

#sidebar .sub-sidebar ul li h3 {
  letter-spacing: 0.8px;
  font-size: 14px;
  font-weight: 300;
}


#sidebar hr {
  background: rgba(255, 255, 255, 0.466);
  height: 1px;
  width: 100%;
}

@media screen and (max-width: 650px) {
  #sidebar {
    position: fixed;
    left: -150vw;
    top: 0;
    width: 300px;
    background: black;
    z-index: 1;
    padding-top: 20px;
    margin-top: 0;
  }

  #close-sidebar {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.671), transparent);
    width: calc(100vw - 300px);
    height: 100%;
    margin: 0;
    position: absolute;
    right: 0;
    margin-right: calc(-100vw + 300px);
    display: grid;
    place-items: center;
    z-index: 2;
    top: 0px;
    color: transparent;
  }

  #close-sidebar:hover {
    opacity: 0;
  }
}

@media (width<380px) {
  #sidebar {
    width: calc(100% - 60px);
  }
}

#sidebar .sub-sidebar .banner {
  background-color: transparent;
  background-image: linear-gradient(340deg, #2e4057 0%, #b3a9eb53 74%);
  position: relative;
  font-size: 14px;
  color: rgb(228, 228, 228);
  padding-bottom: 10px;
  border-radius: 5px;
}

#sidebar .sub-sidebar .banner img {
  width: 80%;
  margin: auto;
  position: relative;
  /* margin-top: -50px; */
  filter: saturate(01);
  padding: 10px;
}

#sidebar .sub-sidebar .banner span {
  padding: 0 10px;
  color: rgba(255, 255, 255, 0.644);
  margin-top: -20px;
  font-size: 12px;
  line-height: 1.5rem;
}

/* sidebar ends */

/* main manager starts */

#system {
  width: calc(100% - 20px);
  height: calc(100dvh - 50px);
  overflow: scroll;
  overflow-y: scroll;
}

#system::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

#system::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}

#system::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.126);
  border-radius: 10px;
}

#system::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.512);
}

#system #file-list {
  width: 100%;
  border-radius: 5px;
  overflow: scroll;
  margin-bottom: 50px;
}

@media screen and (max-width: 480px) {
  #system #file-list {
    margin-top: 10px;
    padding: 0 20px;
  }
}

#system #file-list li {
  width: 100%;
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
  background: rgba(85, 85, 85, 0.066);
  margin-top: 2px;
  position: relative;
  isolation: isolate;
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
  /* background: rgba(255, 0, 0, 0.092); */
}

#system #file-list li::after {
  content: "";
  position: absolute;
  z-index: -1;
  background: rgba(169, 169, 169, 0.133);
  inset: 0;
  scale: 0 1;
  transform-origin: right;
  transition: scale 300ms;
}

#system #file-list li:hover::after,
#system #file-list li:focus-visible::after {
  transform-origin: left;
  scale: 1 1;
}

#system #file-list li:hover input {
  display: block;
}

#system #file-list li input {
  padding: 10px;
  display: none;
}

#system #file-list li input:checked {
  display: block;
}

#system #file-list li[data-type="folder"] {
  cursor: pointer;
}

/* #system #file-list li:hover {
  background: rgba(255, 255, 255, 0.126);
} */

#system #file-list li span {
  width: calc(100% - 128px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  gap: 10px;
}

#system #file-list li span p {
  width: calc(100% - 50px);
  letter-spacing: 0.8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 13px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.745);
}

#system #file-list li>img,
#system #file-list li div {
  width: 25px;
  filter: invert(2);
}

#system #file-list li:hover .fileaction {
  display: flex;
}

#system #file-list li .fileaction {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  position: absolute;
  right: 0;
  width: fit-content;
  padding-right: 10px;
  display: none;
}

#system #file-list li .fileaction img {
  width: 23px;
  opacity: 60%;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

#system #file-list li span img {
  width: 30px;
}

@media (width<450px) {
  #system #file-list li .fileaction {
    display: flex;
    opacity: 0.2;
  }

  #system #file-list li:hover .fileaction {
    opacity: 1;
  }

  #system #file-list li .fileaction img {
    width: 21px;
  }
}



#delete-btn,
#rename-btn,
#download-btn {
  cursor: pointer;
}

@keyframes scale-up-center {
  0% {
    scale: 0;
    opacity: 0;
    transform: translateY(200);
  }

  100% {
    scale: 1;
    opacity: 1;
    transform: translateY(0);
  }
}

/* #file-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

#file-list li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  width: 100%;
}

#file-list li:hover {
  background-color: #f5f5f5;
}

#file-list span.file-name,
#file-list span.folder-name {
  flex: 1;
  margin-left: 10px;
}

#file-list span.file-name p,
#file-list span.folder-name p {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#download-btn,
#rename-btn,
#delete-btn {
  margin-left: auto;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  cursor: pointer;
}

#system img {
  height: 40px;
} */

@media only screen and (max-width: 768px) {
  /* #file-list li {
    flex-direction: column;
  }

  #file-list span.file-name,
  #file-list span.folder-name {
    margin-left: 0;
    margin-bottom: 5px;
  }

  #download-btn-1,
  #rename-btn-1,
  #delete-btn-1,
  #rename-btn-2,
  #delete-btn-2 {
    margin-top: 10px;
  } */
}

@media screen and (max-width: 650px) {
  #system {
    height: calc(100dvh - 120px);
    width: 100%;
    margin-bottom: 20px;
  }
}

/* main manager ends */

/* file manager ends */